@import "general.scss";

.nav {
    height: 60px;
    z-index: 100;
    @apply bg-secondary fixed items-center justify-between top-0 left-0 w-full flex px-5 py-2;
    @screen md {
        height: 45px;
    }
    @screen lg {
        height: 75px;
    }
    &__content {
        @apply flex items-center -mx-2;
        & > * {
            @apply mx-2;
        }
    }
    &__profile {
        height: 100%;
        &-icon {
            height: 100%;
        }
    }
    &__link {
        @apply flex items-center justify-center relative px-3 py-3 w-full mb-5;
        @screen md {
            @apply py-2;
        }
        @screen lg {
            @apply py-1;
        }
        &,
        &-expanded > div {
            border-bottom: 1px solid rgba(191, 191, 191, 0.5);
        }

        & > *:not(:last-child) {
            margin-right: 30px;
        }
        & > *:last-child {
            margin-left: 30px;
        }
        .icon {
            width: 49px;
            height: 45px;
            & > * {
                max-height: 100%;
                max-width: 100%;
            }
            @screen md {
                width: 28px;
                height: 28px;
            }
        }
        .label {
            @apply w-full uppercase;
            @screen md {
                @apply text-sm;
            }
        }
    }
}
.menu {
    @apply fixed w-full bottom-0 bg-white border-t border-gray-200;
    height: 109px;
    &__content {
        @apply w-full grid grid-cols-5 justify-center gap-4 h-full;
        padding: 21px 11px 11px 11px;
    }
    &__dsvg {
        height: 49px;
    }
    &__blink {
        @apply text-center;
        svg {
            fill:#FFF;
            max-height: 35px;
            transition: all .5s;
            &.complicated * {
                fill: transparent;
            }
        }
        &:hover,
        &.active {
            svg {
                fill:#a2bd30;
                &.complicated * {
                    fill:#a2bd30;
                }
            }
        }
    }
}
#content {
    padding-bottom: 109px;
    padding-top: 60px;
    @screen md {
        padding-top: 45px;
    }
    @screen lg {
        padding-top: 72px;
        padding-bottom: 88px;
    }
}
