@import "general.scss";

.nav {
    height: 60px;
    z-index: 100;
    @apply bg-primary-600 fixed items-center justify-between top-0 left-0 w-full flex px-5 py-2;
    @screen md {
        height: 45px;
    }
    @screen lg {
        height: 75px;
    }
    &__content {
        @apply flex items-center -mx-2;
        & > * {
            @apply mx-2;
        }
    }
    &__profile {
        height: 100%;
        &-icon {
            height: 100%;
        }
    }
    &__link {
        @apply flex items-center justify-center relative px-3 py-3 hover:bg-gray-100 w-full space-x-2;
        @screen md {
            @apply py-2;
        }
        @screen lg {
            @apply py-1;
        }
        border-bottom: 1px solid rgba(191, 191, 191, 0.5);
        .icon {
            width: 35px;
            height: 35px;
            & > * {
                max-height: 100%;
                max-width: 100%;
            }
            @screen md {
                width: 28px;
                height: 28px;
            }
        }
        .label {
            @apply w-full uppercase;
            @screen md {
                @apply text-sm;
            }
        }
    }
}

.menu {
    @apply fixed w-full bottom-0 bg-white border-t border-gray-200;
    height: 90px;
    &__content {
        @apply w-full grid grid-cols-5 items-center justify-center gap-4 h-full;
    }
    &__blink {
        @apply text-center;
        svg {
            fill:#FFF;
            max-height: 35px;
        }
        &.active {
            svg {
                fill:#a2bd30
            }
        }
    }
}

#content {
    padding-bottom: 90px;
    padding-top: 60px;
    @screen md {
        padding-top: 45px;
    }
    @screen lg {
        padding-top: 72px;
        padding-bottom: 88px;
    }
}
