.button-image-barcode-reader {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 50px;
    height: 50px;
}
.button-image-barcode-reader input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
}
.button-image-barcode-reader label {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: #ffffff45;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
}
.loading-qr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.fullscreen .div-screen iframe {
    max-height: 100vh;
    width: 100%;
}
.fullscreen .div-screen > div > div {
    padding: 0 !important;
    width: 100%;
    height: 100%;
}
.fullscreen .div-screen > div {
    width: 100%;
    max-width: 100%;
    padding: 0;
    max-height: 100%;
    height: 100%;
}
.fullscreenbtn_expand {
    display: block;
}
.fullscreenbtn_compress,
.fullscreen .fullscreenbtn_expand {
    display: none;
}
.fullscreen .fullscreenbtn_compress {
    display: block;
}
.fullscreen .div-screen {
    max-width: 100%;
    position: absolute;
    width: 100%;
    background: #414141f7;
    z-index: 111111;
    display: block;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}